* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 5px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box;
  
}


body {
  background: #202020;
  color: white;
}

/************HEADER********/

header {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  /*flex-direction: column; /* prueba no iba */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #c78306a4;
  background: black;
  color: yellow; 
  position: fixed;
  top: 0; /* Lo posiciona en la parte superior */
  z-index: 1000; 
  
}

main {
  margin-top: 90px; /* Espacio adicional en la parte superior para evitar que el contenido principal se oculte detrás del encabezado */
  padding: 20px;
  
}

/********/
/*
.formulario {
display: flex;
flex-direction: column;
padding: 1.5px;
box-sizing: border-box;
color: yellow;
justify-content: center;

}*/

.list-component {
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}

input {
display: flex;
padding: 1.5px;
margin-right: 15px;
margin-left: 15px;
box-sizing: border-box;
}

.formBebidas {
display: flex;
padding: 1.5px;
box-sizing: border-box;
color: yellow;
}

.formBebidas b {
display: flex;
padding: 1.5px;
margin-right: 15px;
margin-left: 15px;
box-sizing: border-box;
}

.formBebidas span {
display: flex;
padding: 1.5px;
margin-right: 45px;
margin-left: 45px;
box-sizing: border-box;
}


/**** estilos d tablas **/
.styled-table {
border-collapse: collapse; /* Collapses the borders to make them look like a single border */
width: 100%; /* Optional: Sets the width of the table */
}

.styled-table th,
.styled-table td, tr {
border: 1px solid yellow; /* Adds a solid yellow border to all cells */
padding: 8px; /* Optional: Adds some padding to the cells */
text-align: left; /* Optional: Aligns the text to the left */
}

.styled-table th, td, tr {
background-color: black; /* Optional: Sets the background color of the header cells */
color: yellow; /* Optional: Sets the text color of the header cells */
}

.consumoimporte {
  display: flex;
}

.consumocu {
  display: flex;
  justify-content: space-around;
  padding: 1.5px;
}

/********/

.yellow{
color: yellow; 
}

.verde{
color: rgb(0, 255, 102); 
}

.red{
color: red; 
}

.selector{
color: yellow; 
background-color: #202020;
}

.btn-calc{
color: rgb(0, 255, 102); 
background-color: black;
width: 150px;
height: 50px;
font-size: 1.2em;
}

.btn-calc2{
  color: rgb(0, 255, 102); 
  background-color: #202020;
  width: 100px;
  height: 30px;
  font-size: 1em;
  }

/*** botones ***/

.btn-regular {
  color: yellow;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
}

.my-button_agregar {

background-color: transparent;
border: none;
cursor: pointer;
padding: 5px;
font-size: 20px;
color: rgb(0, 255, 102);

}

.my-button_agregar:hover {
color: rgb(0, 255, 102);
color: white;
}

.my-button_agregar:active {
color: rgb(0, 255, 102);
}

.my-button_eliminar {
background-color: transparent;
border: none;
cursor: pointer;
padding: 0;
font-size: 20px;
color: #f00;
}

.my-button_eliminar:hover {
color: white; 

 
}

.my-button_eliminar:active {
background-color: red;
}

.my-button_editar {
background-color: transparent;
border: none;
cursor: pointer;
padding: 0;
font-size: 20px;
color: rgb(255, 230, 0);
}

.my-button_editar:hover {
color: white; 

color: rgb(255, 251, 0);
color: white;
}

.my-button_editar:active {
background-color: red;
}

.botonera {
display: flex;
padding: 1.5px;
margin-right: 5px;
margin-left: 5px;
box-sizing: border-box;
justify-content: space-around;
}

/* estilos para el toggle switch */

.toggle-switch {
position: relative;
display: inline-block;
width: 60px;
height: 25px;
}

.toggle-switch-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition:.4s;
transition:.4s;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

.toggle-switch-slider:before {
position: absolute;
content: "";
height: 18px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition:.4s;
transition:.4s;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;

}

input:checked +.toggle-switch-slider {
background-color: rgb(0, 255, 102);
}

input:focus +.toggle-switch-slider {
box-shadow: rgb(0, 255, 102);
}

input:checked +.toggle-switch-slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/*****ESTILO MODAL CAMBIO******/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 250px;
  background-color: #202020; /* rgba(0, 0, 0, 0.5);*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  top: 250px;
  left: calc(50% - 125px);
  bottom: 70px;
  border: 1px solid yellow; /* Adds a solid yellow border to all cells */
padding: 8px; /* Optional: Adds some padding to the cells */
text-align: left;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}



/***responsive****/

/* Estilos para dispositivos móviles (pantallas pequeñas) */
@media only screen and (max-width: 600px) {

header {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  /*flex-direction: column; /* prueba no iba */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #c78306a4;
  background: black;
  color: yellow; 
  position: fixed;
  top: 0; /* Lo posiciona en la parte superior */
  z-index: 1000; 
  
}

.formulario {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}

.label-container {
  position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.verde_name {
  font-size: 18px;
}

/* Ajusta los márgenes y padding según tus necesidades */
.contenedor {
  padding: 10px;
}

/* Ejemplo: ajusta el ancho de la lista de elementos */
.lista-elementos {
  width: 100%;
}

/**** estilos d tablas **/
.styled-table {
border-collapse: collapse; /* Collapses the borders to make them look like a single border */
width: 100%; /* Optional: Sets the width of the table */
justify-content: space-between;
}

.styled-table th,
.styled-table td, tr {
border: 1px solid yellow; /* Adds a solid yellow border to all cells */
padding: 0.2px; /* Optional: Adds some padding to the cells */
text-align: justify; /* Optional: Aligns the text to the left */
justify-content: space-between;
}

.styled-table th, td, tr {
background-color: black; /* Optional: Sets the background color of the header cells */
color: yellow; /* Optional: Sets the text color of the header cells */
justify-content: space-between;
}

.my-button_agregar {

  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  color: rgb(0, 255, 102);
  
  }
  
  .my-button_agregar:hover {
  color: rgb(0, 255, 102);
  color: white;
  }
  
  .my-button_agregar:active {
  color: rgb(0, 255, 102);
  }

/****BEBIDAS ***/


.styled-table-bebida {
  border-collapse: collapse; /* Collapses the borders to make them look like a single border */
  width: 100%; /* Optional: Sets the width of the table */
  justify-content: space-between;
}

.styled-table-bebida th,
.styled-table-bebida td, tr {
  border: 1px solid yellow; /* Adds a solid yellow border to all cells */
  padding: 0.1px; /* Optional: Adds some padding to the cells */
  text-align:justify; /* Optional: Aligns the text to the left */
  justify-content: space-between;
}

.styled-table-bebida th, td, tr {
  background-color: black; /* Optional: Sets the background color of the header cells */
  color: yellow; /* Optional: Sets the text color of the header cells */
  justify-content: space-between;
}

 /*****INFORME**/

 .styled-table-informe {
  border-collapse: collapse; /* Collapses the borders to make them look like a single border */
  width: 100%; /* Optional: Sets the width of the table */
  justify-content: space-between;
}

.styled-table-informe th,
.styled-table-informe td, tr {
  border: 1px solid yellow; /* Adds a solid yellow border to all cells */
  padding: 0.1px; /* Optional: Adds some padding to the cells */
  text-align:justify; /* Optional: Aligns the text to the left */
  justify-content: space-between;
}

.styled-table-informe th, td, tr {
  background-color: black; /* Optional: Sets the background color of the header cells */
  color: yellow; /* Optional: Sets the text color of the header cells */
  justify-content: space-between;
}

}


/********/

.yellow{
color: yellow; 
}

.verde{
color: rgb(0, 255, 102); 
}

.red{
color: red; 
}

.selector{
color: yellow; 
background-color: #202020;
}

.btn-calc{
color: rgb(0, 255, 102); 
background-color: black;
width: 150px;
height: 50px;
}



/* Estilos para tablets (pantallas medianas) */
@media only screen and (min-width: 600px) and (max-width: 960px) {
.verde_name {
  font-size: 24px;
}

/* Ajusta los márgenes y padding según tus necesidades */
.contenedor {
  padding: 20px;
}

/* Ejemplo: ajusta el ancho de la lista de elementos */
.lista-elementos {
  width: 70%;
}
}

/* Estilos para pantallas grandes (pantallas anchas) */
@media only screen and (min-width: 960px) {
.verde_name {
  font-size: 32px;
}

/* Ajusta los márgenes y padding según tus necesidades */
.contenedor {
  padding: 30px;
}

/* Ejemplo: ajusta el ancho de la lista de elementos */
.lista-elementos {
  width: 50%;
}



}
